<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Clck randomizer </title>
    </head>
    <body>
    	<input type="number" id = "inputCount" placeholder="Введите требуемое количество ссылок">
        <input type="submit" id = "Generate">
    </body>
    <script>
        const Generate = document.getElementById("Generate");
        const inputCount = document.getElementById("inputCount");
		Generate.addEventListener("click", function(){
			let url = inputCount.value;
			window.open(window.location.href + "/gen/" + url, "_blank")
		});
    </script>
</html>
